@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  color: #555555;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-weight: 300;
  font-size: 2.4rem; // 24px
}

@import './components/wrapper';
@import './components/title-bar';
