@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,600');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background: #f2f2f2;
  color: #555555;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
}

h1 {
  font-weight: 300;
  font-size: 2.4rem; // 24px
}

@import './components/wrapper';
@import './components/title-bar';
@import './components/item';
@import './components/button';
